.mainWindow {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-primary);
    width: 100vw;
    height: 100vh;
    min-height: 300px;
}

.unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: var(--bg-normal);
}

::-webkit-scrollbar-thumb {
    background-color: var(--bg-system);
    border-radius: var(--border-radius-sm);
}